05_node_red_box_mission_custom_delay.json
[
    {
        "id": "bc248bc4.10bf88",
        "type": "tab",
        "label": "Tello Box Mission with Custom Delay Between Commands",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3ae31ac7.1be586",
        "type": "template",
        "z": "bc248bc4.10bf88",
        "name": "Mission template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "command,1000\ntakeoff,4000\nforward 100,5000\ncw 90,3000\nforward 100,5000\ncw 90,3000\nforward 100,5000\ncw 90,3000\nforward 100,5000\ncw 90,3000\nland,1000",
        "output": "str",
        "x": 537.0000076293945,
        "y": 105.00000190734863,
        "wires": [
            [
                "5edd7fbb.adcee"
            ]
        ]
    },
    {
        "id": "b9b872cd.b603a",
        "type": "inject",
        "z": "bc248bc4.10bf88",
        "name": "Launch",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 98.5,
        "y": 104,
        "wires": [
            [
                "e03732e0.8e91a"
            ]
        ]
    },
    {
        "id": "5edd7fbb.adcee",
        "type": "csv",
        "z": "bc248bc4.10bf88",
        "name": "Split commands",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "command,delay",
        "skip": "0",
        "x": 751.0000076293945,
        "y": 105.00000381469727,
        "wires": [
            [
                "bcdc4cac.8f5c2"
            ]
        ]
    },
    {
        "id": "7742dc1.1b31f24",
        "type": "comment",
        "z": "bc248bc4.10bf88",
        "name": "Tello Box Mission with Custom Delay",
        "info": "",
        "x": 177.5,
        "y": 53,
        "wires": []
    },
    {
        "id": "8b44d5a6.501138",
        "type": "function",
        "z": "bc248bc4.10bf88",
        "name": "Store mission",
        "func": "// Load the Mission commands into a flow array\nvar mission = flow.get(\"mission\") || [];\nmission.push(msg.payload);\nflow.set(\"mission\", mission);\n\n// Load all the Mission Commands and exit\nif(msg.parts.index < msg.parts.count-1) {\n    return null ; \n}\n// Continue with the flow once the last Mission command has been stored\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 163.75003814697266,
        "y": 177.50001907348633,
        "wires": [
            [
                "1b44cb2f.cda615"
            ]
        ]
    },
    {
        "id": "1b44cb2f.cda615",
        "type": "function",
        "z": "bc248bc4.10bf88",
        "name": "Process each command",
        "func": "var mission = flow.get(\"mission\");\nvar index = flow.get(\"commandIndex\");\nvar telloCommand;\n\nif(index < mission.length) {\n    msg.payload = mission[index].command;\n    msg.delay = mission[index].delay;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 427.50003814697266,
        "y": 226.00000381469727,
        "wires": [
            [
                "423d4270.bb97dc",
                "875e7ea1.a8914",
                "6da45b52.2065b4"
            ]
        ]
    },
    {
        "id": "e03732e0.8e91a",
        "type": "change",
        "z": "bc248bc4.10bf88",
        "name": "Initialize mission variables",
        "rules": [
            {
                "t": "delete",
                "p": "mission",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "commandIndex",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 297.75,
        "y": 104.50000381469727,
        "wires": [
            [
                "3ae31ac7.1be586"
            ]
        ]
    },
    {
        "id": "95f4a0dd.78548",
        "type": "change",
        "z": "bc248bc4.10bf88",
        "name": "Increment command index",
        "rules": [
            {
                "t": "set",
                "p": "commandIndex",
                "pt": "flow",
                "to": "($flowContext(\"commandIndex\")+1)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 434.75,
        "y": 415.0000071525574,
        "wires": [
            [
                "1b44cb2f.cda615"
            ]
        ]
    },
    {
        "id": "423d4270.bb97dc",
        "type": "delay",
        "z": "bc248bc4.10bf88",
        "name": "delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 695.7500114440918,
        "y": 285.75000381469727,
        "wires": [
            [
                "95f4a0dd.78548"
            ]
        ]
    },
    {
        "id": "875e7ea1.a8914",
        "type": "debug",
        "z": "bc248bc4.10bf88",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 695.6250114440918,
        "y": 175.00000190734863,
        "wires": []
    },
    {
        "id": "6da45b52.2065b4",
        "type": "udp out",
        "z": "bc248bc4.10bf88",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 754.3750152587891,
        "y": 230.00000381469727,
        "wires": []
    },
    {
        "id": "bcdc4cac.8f5c2",
        "type": "link out",
        "z": "bc248bc4.10bf88",
        "name": "",
        "links": [
            "ef4f347c.7f46e8"
        ],
        "x": 880.6250133514404,
        "y": 105.00000190734863,
        "wires": []
    },
    {
        "id": "ef4f347c.7f46e8",
        "type": "link in",
        "z": "bc248bc4.10bf88",
        "name": "",
        "links": [
            "bcdc4cac.8f5c2"
        ],
        "x": 38.125,
        "y": 177.50000286102295,
        "wires": [
            [
                "8b44d5a6.501138"
            ]
        ]
    }
]