10_node_red_tello_state_dashboard.json
[
    {
        "id": "ef4b93d8.c37da",
        "type": "tab",
        "label": "Tello State Viewer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6bdb898.14f1e78",
        "type": "udp in",
        "z": "ef4b93d8.c37da",
        "name": "udp in",
        "iface": "",
        "port": "8890",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "24b59c30.e44e14"
            ]
        ]
    },
    {
        "id": "594c96bd.9506c8",
        "type": "function",
        "z": "ef4b93d8.c37da",
        "name": "Tello state parser",
        "func": "// Tello state message format\n// pitch:11;roll:0;yaw:3;vgx:0;vgy:0;vgz:0;templ:49;temph:51;tof:59;h:0;bat:70;baro:308.45;time:0;agx:179.00;agy:-30.00;agz:-995.00;\n\nvar data = msg.payload.split(\";\");\nvar pitch = data[0].split(\"pitch:\")[1];\nvar roll = data[1].split(\"roll:\")[1];\nvar yaw = data[2].split(\"yaw:\")[1];\nvar xspeed = data[3].split(\"vgx:\")[1];\nvar yspeed = data[4].split(\"vgy:\")[1];\nvar zspeed = data[5].split(\"vgz:\")[1];\nvar lowtemp = data[6].split(\"templ:\")[1];\nvar hightemp = data[7].split(\"temph:\")[1];\nvar distance = data[8].split(\"tof:\")[1];\nvar height = data[9].split(\"h:\")[1];\nvar battery = data[10].split(\"bat:\")[1];\nvar barometer = data[11].split(\"baro:\")[1];\nvar motortime = data[12].split(\"time:\")[1];\nvar xaccel = data[13].split(\"agx:\")[1];\nvar yaccel = data[14].split(\"agy:\")[1];\nvar zaccel = data[15].split(\"agz:\")[1];\n\nreturn [{payload: pitch, topic: \"pitch\"}, {payload: roll, topic: \"roll\"}, {payload: hightemp}, {payload: battery}, {payload: height}];\n\n",
        "outputs": 5,
        "noerr": 0,
        "x": 441,
        "y": 385,
        "wires": [
            [
                "43169c3a.8c2554"
            ],
            [
                "43169c3a.8c2554"
            ],
            [
                "15e22ccd.24d463"
            ],
            [
                "bb38d269.671b6"
            ],
            [
                "d6b78b0.1d99d78"
            ]
        ]
    },
    {
        "id": "43169c3a.8c2554",
        "type": "ui_chart",
        "z": "ef4b93d8.c37da",
        "name": "",
        "group": "4cb64dda.e5e274",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Pitch/Roll",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-60",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#e81bb4",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 656,
        "y": 281,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f957f18c.a30d7",
        "type": "ui_ui_control",
        "z": "ef4b93d8.c37da",
        "name": "",
        "x": 140,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "eeccd02f.7f52e",
        "type": "udp out",
        "z": "ef4b93d8.c37da",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 412,
        "y": 80,
        "wires": []
    },
    {
        "id": "307b9850.90e898",
        "type": "inject",
        "z": "ef4b93d8.c37da",
        "name": "Start state listener",
        "topic": "",
        "payload": "command",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "eeccd02f.7f52e"
            ]
        ]
    },
    {
        "id": "15e22ccd.24d463",
        "type": "ui_gauge",
        "z": "ef4b93d8.c37da",
        "name": "",
        "group": "897023e8.df1dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "High Temp",
        "label": "celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 665,
        "y": 331,
        "wires": []
    },
    {
        "id": "f2fc3fdf.1c017",
        "type": "inject",
        "z": "ef4b93d8.c37da",
        "name": "Reset dashboard",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 514.5,
        "y": 147,
        "wires": [
            [
                "24480ae8.f12c26"
            ]
        ]
    },
    {
        "id": "bb38d269.671b6",
        "type": "ui_gauge",
        "z": "ef4b93d8.c37da",
        "name": "",
        "group": "897023e8.df1dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#d11248",
            "#e6e600",
            "#19ca13"
        ],
        "seg1": "",
        "seg2": "",
        "x": 655.5,
        "y": 385,
        "wires": []
    },
    {
        "id": "d6b78b0.1d99d78",
        "type": "ui_chart",
        "z": "ef4b93d8.c37da",
        "name": "",
        "group": "897023e8.df1dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Height",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 648.5,
        "y": 441,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "24b59c30.e44e14",
        "type": "function",
        "z": "ef4b93d8.c37da",
        "name": "Count and limit",
        "func": "var counter = flow.get(\"counter\") || 0;\ncounter = counter + 1;\nflow.set(\"counter\", counter);\n\nif (counter % 20 === 0) {\n\nvar data = [];\n    data.push([{payload: counter}]);\n    data.push([{payload: msg.payload}]);\n    return data;\n} else {\n    return null;\n}\n",
        "outputs": 2,
        "noerr": 0,
        "x": 174.5,
        "y": 263,
        "wires": [
            [
                "93cec6b5.2c5208"
            ],
            [
                "594c96bd.9506c8"
            ]
        ]
    },
    {
        "id": "93cec6b5.2c5208",
        "type": "ui_text",
        "z": "ef4b93d8.c37da",
        "group": "f29ac4c5.902b28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Message counter",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 444.5,
        "y": 267,
        "wires": []
    },
    {
        "id": "24480ae8.f12c26",
        "type": "change",
        "z": "ef4b93d8.c37da",
        "name": "Clear flow vars",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 556.5,
        "y": 211,
        "wires": [
            [
                "43169c3a.8c2554"
            ]
        ]
    },
    {
        "id": "4cb64dda.e5e274",
        "type": "ui_group",
        "z": "",
        "name": "Attitude",
        "tab": "1860408.a78e7c",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "897023e8.df1dc",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "1860408.a78e7c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f29ac4c5.902b28",
        "type": "ui_group",
        "z": "",
        "name": "Message Counter",
        "tab": "1860408.a78e7c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1860408.a78e7c",
        "type": "ui_tab",
        "z": "",
        "name": "Tello State",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]