4_node_red_box_mission_fixed_delay.json
[
    {
        "id": "6688707f.69e7f",
        "type": "tab",
        "label": "Tello Box Mission with Fixed Delay Between Commands",
        "disabled": false,
        "info": ""
    },
    {
        "id": "22c9bead.3a2702",
        "type": "template",
        "z": "6688707f.69e7f",
        "name": "Mission",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "command\ntakeoff\nforward 100\ncw 90\nforward 100\ncw 90\nforward 100\ncw 90\nforward 100\ncw 90\nland",
        "output": "str",
        "x": 234.5,
        "y": 205,
        "wires": [
            [
                "59cabb4a.6d5674"
            ]
        ]
    },
    {
        "id": "dfe0ebde.ada2e8",
        "type": "inject",
        "z": "6688707f.69e7f",
        "name": "Launch",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 98.5,
        "y": 104,
        "wires": [
            [
                "22c9bead.3a2702"
            ]
        ]
    },
    {
        "id": "59cabb4a.6d5674",
        "type": "csv",
        "z": "6688707f.69e7f",
        "name": "Split commands",
        "sep": ",",
        "hdrin": "",
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "command",
        "skip": "0",
        "x": 353.5,
        "y": 107,
        "wires": [
            [
                "c5c4b088.17817"
            ]
        ]
    },
    {
        "id": "c5c4b088.17817",
        "type": "delay",
        "z": "6688707f.69e7f",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 525.5,
        "y": 209,
        "wires": [
            [
                "e17cbf00.42c61",
                "3bc2ce0b.21b2f2"
            ]
        ]
    },
    {
        "id": "a4aa1e71.a40cf",
        "type": "say",
        "z": "6688707f.69e7f",
        "name": "",
        "voice": "",
        "x": 945.5,
        "y": 213,
        "wires": [
            []
        ]
    },
    {
        "id": "e17cbf00.42c61",
        "type": "function",
        "z": "6688707f.69e7f",
        "name": "Format command",
        "func": "msg.payload = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 749.5,
        "y": 159,
        "wires": [
            [
                "a4aa1e71.a40cf",
                "5a46063f.c6c528"
            ]
        ]
    },
    {
        "id": "5a46063f.c6c528",
        "type": "udp out",
        "z": "6688707f.69e7f",
        "name": "UDP to Tello",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 957.5,
        "y": 106,
        "wires": []
    },
    {
        "id": "64aa6dbf.bc67a4",
        "type": "comment",
        "z": "6688707f.69e7f",
        "name": "Tello Box Mission with Fixed Delay",
        "info": "",
        "x": 167.5,
        "y": 53,
        "wires": []
    },
    {
        "id": "3bc2ce0b.21b2f2",
        "type": "debug",
        "z": "6688707f.69e7f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 742.5,
        "y": 277,
        "wires": []
    }
]