8_node_red_tello_control_dashboard.json
[
    {
        "id": "b56c5c24.a2f6e",
        "type": "tab",
        "label": "Basic Tello Control Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd59a2b3.303a4",
        "type": "ui_button",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "group": "ddfefbbe.729768",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Takeoff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "takeoff",
        "payloadType": "str",
        "topic": "",
        "x": 88.5,
        "y": 273,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "7bc26d78.c00c24",
        "type": "ui_text_input",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "label": "Enter SDK Command",
        "tooltip": "",
        "group": "ddfefbbe.729768",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 126.5,
        "y": 324,
        "wires": [
            [
                "3feb69f3.a19f66"
            ]
        ]
    },
    {
        "id": "3feb69f3.a19f66",
        "type": "function",
        "z": "b56c5c24.a2f6e",
        "name": "Validate message",
        "func": "if (msg.payload.length === 0) {\n    return null;    \n} else {\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360.5,
        "y": 322,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "b6b28de5.80a45",
        "type": "udp out",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 697.5,
        "y": 325,
        "wires": []
    },
    {
        "id": "c6d3ba9f.4d6058",
        "type": "ui_button",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "group": "ddfefbbe.729768",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Land",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "land",
        "payloadType": "str",
        "topic": "",
        "x": 79.5,
        "y": 373,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "b8831792.0baeb8",
        "type": "ui_button",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "group": "4793e25c.67ee4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flip f",
        "payloadType": "str",
        "topic": "",
        "x": 355.5,
        "y": 99,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "659db038.34a6c",
        "type": "ui_button",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "group": "4793e25c.67ee4c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip backward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flip b",
        "payloadType": "str",
        "topic": "",
        "x": 365.5,
        "y": 145,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "270249f5.11ff36",
        "type": "ui_button",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "group": "4793e25c.67ee4c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 345.5,
        "y": 188,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "534a9224.574aac",
        "type": "ui_button",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "group": "4793e25c.67ee4c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flip r",
        "payloadType": "str",
        "topic": "",
        "x": 345.5,
        "y": 235,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "b983d5ff.1e4568",
        "type": "ui_button",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "group": "ddfefbbe.729768",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Command",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "command",
        "payloadType": "str",
        "topic": "",
        "x": 98.5,
        "y": 226,
        "wires": [
            [
                "b6b28de5.80a45"
            ]
        ]
    },
    {
        "id": "9df20221.39142",
        "type": "comment",
        "z": "b56c5c24.a2f6e",
        "name": "Basic dashboard demonstrating Tello control and response",
        "info": "",
        "x": 227.5,
        "y": 36,
        "wires": []
    },
    {
        "id": "341a122c.11076e",
        "type": "udp in",
        "z": "b56c5c24.a2f6e",
        "name": "",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 599.5,
        "y": 99,
        "wires": [
            [
                "72f2000e.02d1d"
            ]
        ]
    },
    {
        "id": "72f2000e.02d1d",
        "type": "ui_text",
        "z": "b56c5c24.a2f6e",
        "group": "9ea95209.e9644",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Response",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 612.5,
        "y": 174,
        "wires": []
    },
    {
        "id": "ddfefbbe.729768",
        "type": "ui_group",
        "z": "",
        "name": "Tello Control",
        "tab": "7a864b47.fea904",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4793e25c.67ee4c",
        "type": "ui_group",
        "z": "",
        "name": "Flips",
        "tab": "7a864b47.fea904",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9ea95209.e9644",
        "type": "ui_group",
        "z": "",
        "name": "Tello Response",
        "tab": "7a864b47.fea904",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7a864b47.fea904",
        "type": "ui_tab",
        "z": "",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]