8_node_red_tello_control_dashboard.json
[
    {
        "id": "173a3a0e.b30ea6",
        "type": "tab",
        "label": "Basic Tello Control Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4fda369.ce95b",
        "type": "ui_button",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "group": "79fed3de.4663fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Takeoff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "takeoff",
        "payloadType": "str",
        "topic": "",
        "x": 88.5,
        "y": 273,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "f962c61e.d83dc8",
        "type": "ui_text_input",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "label": "Enter SDK Command",
        "tooltip": "",
        "group": "79fed3de.4663fc",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 126.5,
        "y": 324,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "b4544da6.44934",
        "type": "udp out",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "addr": "192.168.10.1",
        "iface": "",
        "port": "8889",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 697.5,
        "y": 325,
        "wires": []
    },
    {
        "id": "9681d97a.a81298",
        "type": "ui_button",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "group": "79fed3de.4663fc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Land",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "land",
        "payloadType": "str",
        "topic": "",
        "x": 79.5,
        "y": 373,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "9312a363.fb3b4",
        "type": "ui_button",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "group": "500cf354.5d91dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flip f",
        "payloadType": "str",
        "topic": "",
        "x": 355.5,
        "y": 99,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "b5c37d60.ea47a",
        "type": "ui_button",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "group": "500cf354.5d91dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip backward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flip b",
        "payloadType": "str",
        "topic": "",
        "x": 365.5,
        "y": 145,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "3721d024.a918f",
        "type": "ui_button",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "group": "500cf354.5d91dc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 345.5,
        "y": 188,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "18708136.0c698f",
        "type": "ui_button",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "group": "500cf354.5d91dc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Flip right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "flip r",
        "payloadType": "str",
        "topic": "",
        "x": 345.5,
        "y": 235,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "588c08f0.621098",
        "type": "ui_button",
        "z": "173a3a0e.b30ea6",
        "name": "",
        "group": "79fed3de.4663fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Command",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "command",
        "payloadType": "str",
        "topic": "",
        "x": 98.5,
        "y": 226,
        "wires": [
            [
                "b4544da6.44934"
            ]
        ]
    },
    {
        "id": "e4cda748.7d5048",
        "type": "comment",
        "z": "173a3a0e.b30ea6",
        "name": "Basic dashboard demonstrating Tello control",
        "info": "",
        "x": 187.5,
        "y": 36,
        "wires": []
    },
    {
        "id": "79fed3de.4663fc",
        "type": "ui_group",
        "z": "",
        "name": "Tello Control",
        "tab": "12f7ce01.3e7a22",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "500cf354.5d91dc",
        "type": "ui_group",
        "z": "",
        "name": "Flips",
        "tab": "12f7ce01.3e7a22",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "12f7ce01.3e7a22",
        "type": "ui_tab",
        "z": "",
        "name": "Main",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]